---
---

@import "{{ site.theme }}";

$off-white: #f3f1e7;

.profile {
  border-radius: 50%;
  height: 150px;
  float: right;
  margin-top: 78px;
  box-shadow: none;
  border: 1px solid $off-white;
}

.titleblock {
  width: 50%;
  display: inline-block;
}

.titlelink {
  color: inherit;
  text-decoration: inherit;
}

ul {
  list-style: none;
}

#project_title {
  color: $off-white;
}

#project_tagline {
  color: $off-white;
}

#main_content_wrap {
  background: $off-white;
}