---
---

@import "{{ site.theme }}";

.profile {
  border-radius: 50%;
  height: 150px;
  float: right;
  margin-top: 78px;
  box-shadow: none;
}

.titleblock {
  width: 50%;
  display: inline-block;
}

.titlelink {
  color: inherit;
  text-decoration: inherit;
}

ul {
  list-style: none;
}